@import "tailwindcss";
@plugin "daisyui" {
   themes: light, dark;
 }

[data-theme='light'] .custom-bg {
  background-color: #7B3FD3; 
}

[data-theme='light'] .custom-input-text-l {
  color: #5b0fd4; 
}

[data-theme='light'] .custom-text {
  color: #ffffffff; 
}

[data-theme='light'] .custom-input-bg {
  background-color: #AD87E4; 
}

/* 🌙 Dark mode custom colors */
[data-theme='dark'] .custom-bg {
  background-color: #1e293b; 
}

[data-theme='dark'] .custom-input-bg {
  background-color: #03132b; 
}

[data-theme='dark'] .custom-text {
  color: #e2e8f0; 
}

[data-theme='dark'] .custom-input-text-d {
  color: #000000; 
}